/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

*{
margin: 0;
padding: 0;
}

.body{
  height: 700px;
  background-color: rgb(83, 83, 235);
}
.footer{
  background-color: rgb(255, 255, 255);
  display: flex;
}


.footer1 li{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 5px;
  list-style-type: none;
  color: rgb(0, 0, 0);
 
}

.footer1 h3{
  margin-left: 100px;
  margin-top: 60px;
  color: rgb(243, 1, 1);

}
.footer1 a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.footer2 a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.footer2 ul li {
  display:flex;
  flex-direction: column;
  margin-left: 100px;
  justify-content: end;
  margin-top: 5px;
  list-style-type: none;
  color: rgb(0, 0, 0);
 
}

.footer2 h3{
  margin-left: 70px;
  margin-top: 60px;
  color: rgb(243, 1, 1);
}

.footer-below{
  display: flex;
  margin-top: 40px;
}

.footer-below h5{
  margin-left: 240px;
  color: red;
}

.footer-below h4{
  margin-left: 100px;
}

.footer2 img{
  width: 25px;
  height: auto;
  position: absolute;
  margin-left:-29px;
}